.site-title {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    background-color: black;
}

.navbar {
    font-size: 22px;
    color: white;
    background-color: black;
    height: 50px;
    margin-top: -22px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}

.navitem {
    padding-top: 10px;
    padding-right: 20px;
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
}

.calculator {
  height: 500px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-left: 300px;
  margin-right: 300px;
}

.calculator-bar {
    margin-left: -20px;
    margin-right: -12px;
}

.answer-text {
    margin-top: 7px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#answer-bar {
  border: 1px solid black;
  height: 50px;
  margin-right: -10px;
}

.button {
  font-size: 20px;
  color: white;
  padding: 20px;
  margin: 10px;
  background-color: #000;
  border: 1px solid #ababab;
  border-radius: 5px;
  display: inline-block;
  height: 70px;
  width: 130px;
}

.button:hover {
    background-color: #23788a;
}

.results-history {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 20px;
}

.results-text {
    text-align: center;
    font-size: 20px;
}

#refresh-button {
    position: fixed;
    bottom: 5%;
	right: 3%;
    background-color: #132759;
    color: white;
    width: 60px;
	height: 60px;
	box-shadow: 2px 2px 4px 2px #888888;
}

#refresh-button:hover {
    background-color: #23788a;
    font-size: 15px;
    width: 65px;
    height: 65px;
}
