.site-title {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    background-color: black;
}

.navbar {
    font-size: 22px;
    color: white;
    background-color: black;
    height: 50px;
    margin-top: -22px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}


.navitem {
    padding-top: 10px;
    padding-right: 20px;
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
  color: red;
}

body{
  background-color: #696969;
}

.calculator {
  width: 900px;
  padding: 10px;
  text-align: center;
  margin: 10px auto;
  background-color: #696969;
}

.calculator-bar {
    margin-left: -20px;
    margin-right: -12px;
}

#answer-text {
    margin-top: 7px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#answer-bar {
  border: 1px solid black;
  height: 50px;
  margin-right: -10px;
  background-color: #D3D3D3
}

.button {
  font-size: 30px;
  color: white;
  padding: 10px;
  margin: 10px;
  background-color: #000;
  border: 1px solid #ababab;
  border-radius: 5px;
  display: inline-block;
  height: 100px;
  width: 200px;
}

#opButton {
  background-color: #FF8C00;
}

#clearButton{
  background-color: #FF8C00;
}

#pButton{
  background-color: #D3D3D3;
}

.button:hover {
    background-color: #D3D3D3;
    color: black;
}

.results-title {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 20px;
}

.results-outline {
    width: 770px;
    margin: 0 auto;
  }

.results-text {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
}

#refresh-button {
    position: fixed;
    bottom: 3%;
  	right: 2%;
    background-color: #FF8C00;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 60px;
  	height: 60px;
  	box-shadow: 2px 2px 4px 2px black;
}

#refresh-button:hover {
    background-color: #D3D3D3;
    font-size: 30px;
    font-weight: bold;
    width: 65px;
    height: 65px;
}
