<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<title>Calculator</title>

      <link rel="stylesheet" href="/style.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
      <script src="/calcTemplate.js"></script>
			<script src = "/index.js" charset="utf-8" defer></script>
		<header>
			<h1 class = "site-title">World's Best Calculator</h1>
		</header>

	<nav class="navbar">
	 <ul class="navlist">
		 <li class="navitem"><a href="/">Calculator</a></li>
		 <li class="navitem"><a href="/results">Result History</a></li>
	 </ul>
	 		</nav>
		</head>


	<body>

    {{{body}}}

	</body>
</html>
