<div class = "calculator-bar" id="answer-bar">
  <p id = "answer-text">0</p>
</div>

<div class="calculator" id="calculator">

  <button id="clearButton" class="button" value="c">C</button>
  <button id="opButton" class="button" value="2nd">2nd</button>
  <button id="opButton" class="button" value="%">%</button>
  <button id="opButton" class="button" value="/">/</button>
  <button id="numButton" class="button" value = "7">7</button>
  <button id="numButton" class="button" value="8">8</button>
  <button id="numButton" class="button" value="9">9</button>
  <button id="opButton" class="button" value="*">x</button>
  <button id="numButton" class="button" value="4">4</button>
  <button id="numButton" class="button" value="5">5</button>
  <button id="numButton" class="button" value="6">6</button>
  <button id="opButton" class="button" value="-">-</button>
  <button id="numButton" class="button" value="1">1</button>
  <button id="numButton" class="button" value="2">2</button>
  <button id="numButton" class="button" value="3">3</button>
  <button id="opButton" class="button" value="+">+</button>
  <button id="numButton" class="button" value="0">0</button>
  <button id="decButton" class="button" value=".">.</button>
  <button id="eqButton" class="button" value="=">=</button>
  </div>
