<script src = "index.js" charset="utf-8" defer></script>

<body>
<h1 class = "formulas-title">Formula Sheet</h1>
<form class = formula method="post" action="addformula">
<label>Enter formula to add</label><br>
<input type="text" id="formula" name="formula"><br>
<input type="submit" id = "form" value="Add Formula">
</form>

<form class = formula method="post" action="rmformula">
<label>Enter formula to remove</label><br>
<input type="text" id="rmformula" name="rmformula"><br>
<input type="submit" id = "form" value="Remove Formula">
</form>
</body>

<div class = "forumlas-outline">
    <p class = formula-text>
      {{#each formula}}
      {{formula}}<br>
      {{/each}}
    </p>
</div>
