<div class = "results-title">Results</div>
<div class = "results-outline">
  {{#each result_text}}
    <p class = results-text>{{text}}</p>
</div>

<button type="refresh-button" id="refresh-button">&#x27F3;</button>
