<div class = "results-title">Results</div>
<div class = "results-outline">
    <p class = results-text>1 + 2 = 3</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
    <p class = results-text>2 + 2 = 4</p>
</div>

<button type="refresh-button" id="refresh-button">&#x27F3;</button>
