<div class = "results-title">Results</div>
<div class = "results-outline">
    <p class = results-text>
      {{result}}
    </p>
</div>

<button type="refresh-button" id="refresh-button">&#x27F3;</button>
