<script src = "index.js" charset="utf-8" defer></script>
<div class = "results-title">Results</div>
<div class = "results-outline">
  {{#each result_text}}
    <p class = results-text>{{text}}</p>
  {{/each}}
